**/__pycache__
outputs
logs
multirun
lightning_logs
**/*.ipynb
scratches
tmp
data
jobs
**/*egg-info

*.Identifier
*.ipynb


# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore outputs and logs
output/
outputs/
*.log

# Ignore data files
data/
*.npy
*.npz
*.nc

# Ignore environment files
.env
.venv